# ==========================================
# 1. Các file cấu hình IDE & OS (Quan trọng)
# ==========================================
.idea/
*.iws
*.iml
*.ipr
.DS_Store
Thumbs.db

# ==========================================
# 2. File bảo mật & Môi trường (CỰC KỲ QUAN TRỌNG)
# ==========================================
.env
.env.local
.env.*.local
*.local

# ==========================================
# 3. Các file build và thư mục đích của Maven
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Tùy chọn: Nếu kh muốn up file jar của maven wrapper (thường kh cần thiết)
.mvn/wrapper/maven-wrapper.jar

# ==========================================
# 4. Các file cấu hình Eclipse (Nếu có xài ké)
# ==========================================
.project
.classpath
.settings/
bin/

# ==========================================
# 5. File Log & Thống kê hệ thống
# ==========================================
*.log
